// color variable
$color-white: #fff;
$color-black: #000;
$color-primary: #1890ff;
$color-success: #52c41a;
$color-warning: #faad14;
$color-danger: #f5222d;
$color-error: #f5222d;
$color-info: #909399;

// text color
$text-color-default: $color-black;
$text-color-primary: $color-primary;
$text-color-regular: #606266;
$text-color-secondary: #909399;
$text-color-placeholder: #c0c4cc;

// border color
